<h2>My Heroes</h2>
<ul class="heroes">
  <li
    *ngFor="let hero of heroes"
    (click) = "onSelect(hero)"
    [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.name.charAt(0)}}</span> {{hero.name}}
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<md-card>
  <md-card-title>
    New Hero
  </md-card-title>
  <md-card-content>
  <md-input-container>
    <input md-input [(ngModel)]="newHero.name" placeholder = "Name" required/>
  </md-input-container>
  <br/>
  <md-input-container>
    <input md-input [(ngModel)] = "newHero.universe" placeholder = "Universe" required/>
  </md-input-container>
  <br/>
  <md-input-container>
    <input md-input [(ngModel)]="newHero.city" placeholder = "City"/>
  </md-input-container>
  <md-input-container>
    <input md-input [(ngModel)]="newHero.powers" placeholder = "Powers"/>
  </md-input-container>
  </md-card-content>
  <md-card-actions>
    <button md-button (click) = "add(newHero)">Add</button>
  </md-card-actions>
</md-card>